In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.DataFrame([[2,1,6,np.nan,6,8,2,np.nan,3,9],
                     [1,np.nan,4,np.nan,7,np.nan,5,4,np.nan,2],
                     [3,np.nan,1,np.nan,np.nan,3,np.nan,np.nan,np.nan,1],
                     [np.nan,4,2,3,np.nan,1,6,np.nan,8,3]],
                     columns=['A','B','C','D','E','F','G','H','I','J'])

In [ ]:
print(data)

     A    B  C    D    E    F    G    H    I  J
0  2.0  1.0  6  NaN  6.0  8.0  2.0  NaN  3.0  9
1  1.0  NaN  4  NaN  7.0  NaN  5.0  4.0  NaN  2
2  3.0  NaN  1  NaN  NaN  3.0  NaN  NaN  NaN  1
3  NaN  4.0  2  3.0  NaN  1.0  6.0  NaN  8.0  3

In [ ]:
#count the number of NaN values
print(data.isnull().sum(axis=0))

A    1
B    2
C    0
D    3
E    2
F    1
G    1
H    3
I    2
J    0
dtype: int64

In [ ]:
print(data.isnull().sum(axis=1))

0    2
1    4
2    6
3    3
dtype: int64

In [ ]:
#Since the columns D and H has 90% of missing values, we can drop both these variables
data.drop(['D','H'],axis=1,inplace=True)

In [ ]:
print(data)

     A    B  C    E    F    G    I  J
0  2.0  1.0  6  6.0  8.0  2.0  3.0  9
1  1.0  NaN  4  7.0  NaN  5.0  NaN  2
2  3.0  NaN  1  NaN  3.0  NaN  NaN  1
3  NaN  4.0  2  NaN  1.0  6.0  8.0  3

In [ ]:
data['missing_A'] = data['A'].isnull().astype(int)
print(data)

     A    B  C    E    F    G    I  J  missing_A
0  2.0  1.0  6  6.0  8.0  2.0  3.0  9          0
1  1.0  NaN  4  7.0  NaN  5.0  NaN  2          0
2  3.0  NaN  1  NaN  3.0  NaN  NaN  1          0
3  NaN  4.0  2  NaN  1.0  6.0  8.0  3          1

In [ ]:
#Mean method

data['A'].fillna(data['A'].mean(),inplace=True)
data['F'].fillna(data['F'].mean(), inplace = True)
data['G'].fillna(data['G'].mean(), inplace = True)

print(data)

     A    B  C    E    F         G    I  J  missing_A
0  2.0  1.0  6  6.0  8.0  2.000000  3.0  9          0
1  1.0  NaN  4  7.0  4.0  5.000000  NaN  2          0
2  3.0  NaN  1  NaN  3.0  4.333333  NaN  1          0
3  2.0  4.0  2  NaN  1.0  6.000000  8.0  3          1

In [ ]:
#Interpolation method

data['B'].interpolate(method='linear',inplace = True)
data['E'].interpolate(method='linear', inplace=True)
data['I'].interpolate(methoda='linear', inplace=True)
print(data)

     A    B  C    E    F         G         I  J  missing_A
0  2.0  1.0  6  6.0  8.0  2.000000  3.000000  9          0
1  1.0  2.0  4  7.0  4.0  5.000000  4.666667  2          0
2  3.0  3.0  1  7.0  3.0  4.333333  6.333333  1          0
3  2.0  4.0  2  7.0  1.0  6.000000  8.000000  3          1